<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/root.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='TalkGes_logo.ico') }}"
    />
    <title>TalkGes</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
          <img src="../static/TalkGes_logo.png" alt="TCS" class="img-fluid" />
          <span class="navbar-brand">TalkGes</span>
        </div>
      </nav>
      <div class="center-content">
        <div id="videoContainer">
          <video controls autoplay muted>
            <source src="#" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <br />
        <div class="bottom-content">
          <h2>Recognized Text:</h2>
          <textarea
            id="outputText"
            name="outputText"
            class="output-text"
            readonly
          >
          </textarea>
          <div class="buttons-container">
            <button type="button" id="startButton">
              <img
                width="35"
                height="35"
                src="https://img.icons8.com/flat-round/64/record.png"
                alt="record"
              />
            </button>
            <button type="button" id="stopButton">
              <img
                width="33"
                height="33"
                src="https://img.icons8.com/flat-round/64/stop.png"
                alt="stop"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/5480a0caa2.js"
      crossorigin="anonymous"
    ></script>
    <script src="/static/speechToTextToVideo.js"></script>
  </body>
</html>
